.navbar{
    background-color: #25262A;
    color: #B8BCC6;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px 35px;

}
.navLeft{
    display: flex;
    align-items: center;
}
.navContent{
    margin-left: 100px;
}
.navContent a{
    margin-left: 30px;
    font-size: 1.2rem;
}
.navContent a:hover{
    color: white;
    padding-bottom: 5px;
    border-bottom: 3px solid white;
}
.navRight{
    display: flex;
    align-items: center;
}
.navIcon{
    background-color: #2D2E32;
    color: #FEC71D;
    margin-right: 20px;
    width: 60px;
    height: 60px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
}
.navIcon:hover{
    background-color: #FEC71D;
    color: black;
    transition: 0.5s;

}
.navContactBtn{
    background-color: #FEC71D;
    padding: 18px 50px;
    border-radius: 14px;
    font-size: 1.2rem;
    color: black;
    letter-spacing: 1px;
}

.barIcon{
    font-size: 35px;
    color: white;
    cursor: pointer;
    margin-right: 20px;
    display: none;
}
.barIcon:hover{
    transform: scaleY(1.3);
    transition: 0.5s;
}
.cross{
    font-size: 40px;
    color: white;
    display: none;
}

@media screen and (max-width: 1000px) {
    .navContent{
        display: none;
    }
    .crossActive{
        display: block;
        cursor: pointer;
    }
    .barIcon{
        display: block;
    }
    .toggle{
        display: block;
        position: fixed;
        z-index: 999;
        background-color: #25262A;
        width: 100%;
        height: 100vh;
        left: -100px;
        top: 0;
        padding: 30% 40%;
    }
    .toggle a{
        display: block;
        flex-direction: column;
        margin-top: 40px;
        width: inherit;
    }
    .cross{
        position: fixed;
        left: 45%;
        z-index: 9999;
    }
}
@media screen and (max-width: 750px) {
   .navIcon,
   .navContactBtn{
    display: none;
   }

}
@media screen and (max-width: 400px) {
    .toggle{
        padding: 40% 25%;
    }
}
